################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeroesQuest/obj
/.vs
/HerosQuest/obj/Debug
